
<h2><%= @user.email %> </h2>

<% if @upcoming_events.any? %>
	<h2>Upcoming</h2>
	<%= render 'table', object: @upcoming_events %>
<% end %>

<% if @previous_events.any? %>

<h2>Attended</h2>
	<%= render 'table', object: @previous_events %>

<% end %>

<% if @user.events.any? %>
<h2>Created by <%= @user.email%></h2>

	<%= render 'table', object: @user.events %>
<% end %>