<!-- <%= simple_form_for @event do |f| %>
	<% if @event.errors.any? %>
		<h2>
			<% pluralize(@event.errors.count, 'error') %>
			Failed to Create Event.
			<ul>
				<% @event.errors.full_messages.each do |msg| %>
					<li> <%= msg %> </li>
				<% end %>
			</ul>
		</h2>
	<% end %>

	<div class="form-group">
		<%= f.input :title, input_html: { class: 'form-control'} %>
	</div>

	<div class="form-group">
		<%= f.input :description, input_html: { class: 'form-control'} %>
	</div>

	<div class="form-group">
		<%= f.input :location, input_html: { class: 'form-control'} %>
	</div>

	<div class="form-group">
		<%= f.input :date, input_html: { class: 'form-control'} %>
	</div>

	
		<%= f.button :submit,  class: 'btn btn-primary' %>

<% end %> -->

<%= bootstrap_form_for(@event) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :location %>
  <%= f.text_area :description %>
  <%= f.date_field :date%>
  <%= f.submit "Create Event",  class: "btn btn-lg btn-primary"  %>
<% end %>